.card{
    height: 400px;
    overflow: hidden;
}

img{
    height: 250px;
}

.card-title{
    padding-left: 10px;
    height: 100px;
    overflow: hidden;
}

.card-image{
    height: 250px;
    overflow: hidden;
}